* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font: 20px/1 url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');
    
}
img{
    width: 50%
}
.profilepic{
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    align-self: center;
}
.top{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.main-header{
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-content: center;
}
nav{
    overflow: hidden;
    color: blanchedalmond;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}
nav a {
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    padding: 25px;
    transition: 0.3s all;
  }
.navbar {
    display: flex;
    flex-direction: row;
    align-content: space-between;
  }
  .navitems {
    list-style-type: none;
}
nav li{
    display: inline;
}
nav a:hover {
    background:blanchedalmond;
  }
.navigation__list-item :hover{
    color: blanchedalmond;
}

h2{
    padding-top: 1rem;
}

body{
    background-color:blanchedalmond;
    color: whitesmoke;
}
.wrapper{
    margin: 0 auto;
    max-width: 90%;
    min-height: 100vh;
    width: 90%;
    text-align: center;
    background-image: url("../pics/darkngrey.jpg");
    
}
footer{
    padding: 1rem;
    text-align: center;
}

