<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>still me.</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <div>
      <div class="navbar">
        <nav>
          <ul>
            <li><a href="./index.html">About.</a></li>
            <li><a href="./projects.html">Projects.</a></li>
            <li><a href="./education.html">Education.</a></li>
            <li><a href="./contactme.html">Contact.</a></li>
          </ul>
        </nav>
        <div>
          <img
            class="profilepic"
            src="../img/contact.png"
            alt="my picture should be here.."
          />
        </div>
        <div>
          <h1>#iContact.</h1>
          <p>E: pryde.geh@gmail.com</p>
          <p>LinkedIn: linkedin.com/in/pryde-geh-989389194</p>
          <p>IG: SimbaPryd3</p>
          <p>GitHub: SimbaPryd3</p>
        </div>
        <footer>
          <small
            >This page is 100% maintained by &copy;SimbaPryd3. Thus, this page
            is under contruction. Please vibe with caution.</small
          >
        </footer>
      </div>
    </div>
  </body>
</html>
