<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>still me.</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <div>
      <div class="navbar">
        <nav>
          <ul>
            <li><a href="./index.html">About.</a></li>
            <li><a href="./projects.html">Projects.</a></li>
            <li><a href="./education.html">Education.</a></li>
            <li><a href="./contactme.html">Contact.</a></li>
          </ul>
        </nav>
      </div>
      <div>
        <div class="bars">
          <div>
            <img
              class="profilepic"
              src="../img/21261101Untitled-3-512.png"
              alt="my picture should be here.."
            />
          </div>
          <h1>#TechSkillz</h1>
          <p class="skills">
            JavaScript • NodeJS • Express • MVC • HTML5 • CSS3 • Grid • FlexBox
            • React • TDD • Agile (Scrum) • Object Oriented Programming (OOP) •
            AJAX • JSON • Restful APIs • Single Page Applications (SPAs) •
            Responsive Design / Mobile • Structured Query Language (SQL) •
            Relational Databases • NoSQL Databases • GitHub
          </p>
        </div>
        <br />
        <div>
          <h1>#SchoolIsCool</h1>
          <p>Ohio University: Bachelors of Exercise Physilogy (2015)</p>
          <p>University of Cincinnati: Masters of Health Informatics (2018)</p>
          <p>-- Software Development Certificate</p>
          <p>-- Database Management Certificate</p>
          <p>WeCanCodeIT: JavaScript (2019)</p>
        </div>
        <footer>
          <small
            >This page is 100% maintained by &copy;SimbaPryd3. Thus, this page
            is under contruction. Please vibe with caution.</small
          >
        </footer>
      </div>
    </div>
  </body>
</html>
